canvas {
  position: absolute;
  top: 10;
  left: 0;
  transform: scale(0.5);
  transform-origin: top left;
  background-color: transparent;
}

#gameCanvas {
  /*Sætter dette canvas bagerst*/
  z-index: 1;

}

#gameState {
  /*Sætter dette canvas forest*/
  z-index: 2;
}
